absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1637088766493/work
addict==2.4.0
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1603560405716/work
albumentations @ file:///home/conda/feedstock_root/build_artifacts/albumentations_1626356797841/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1631087867185/work
blinker==1.4
Bottleneck==1.3.2
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1636012188166/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1633010882559/work
certifi==2021.10.8
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046063618/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1602255302199/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1635822600067/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1637648687087/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz==0.11.0
dask==2021.10.0
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
dlib @ file:///home/conda/feedstock_root/build_artifacts/dlib_1617441596649/work
face-recognition @ file:///home/conda/feedstock_root/build_artifacts/face_recognition_1619808233029/work
face-recognition-models @ file:///home/conda/feedstock_root/build_artifacts/face_recognition_models_1595707436534/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1637070794272/work
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1620718971772/work
fonttools==4.25.0
fsspec @ file:///tmp/build/80754af9/fsspec_1636116461911/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
gdown @ file:///home/conda/feedstock_root/build_artifacts/gdown_1634813724050/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1635863830555/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1630497468950/work
google-pasta==0.2.0
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1639715741418/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1617739432869/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
iglovikov-helper-functions==0.0.53
imagecorruptions==1.1.2
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
imgaug @ file:///tmp/build/80754af9/imgaug_1605226543559/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1642513897842/work
imutils @ file:///home/conda/feedstock_root/build_artifacts/imutils_1639012382654/work
joblib==1.1.0
jpeg4py==0.1.4
Keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1618861913295/work
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282420641/work
locket==0.2.1
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1637220118004/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1638289681807/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1636019077110/work
munkres==1.1.4
networkx @ file:///tmp/build/80754af9/networkx_1633639043937/work
numexpr @ file:///tmp/build/80754af9/numexpr_1618856167419/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634095647912/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1622563202229/work
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencv-python==4.5.4.60
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1617859230218/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.3.4
partd @ file:///tmp/build/80754af9/partd_1618000087440/work
Pillow==8.4.0
protobuf==3.16.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1638819640841/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1635862404924/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1601658317819/work
PyYAML==6.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1637781155505/work
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.3
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
Shapely @ file:///tmp/build/80754af9/shapely_1632813486044/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1636578784510/work/tensorboard-2.7.0-py3-none-any.whl
tensorboard-data-server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1636045749270/work/tensorboard_data_server-0.6.0-py3-none-manylinux2010_x86_64.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1641458951060/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow @ file:///home/builder/ktietz/aggregate/tensorflow_recipes/ci_cpu/tensorflow-base_1614354478017/work/tensorflow_pkg/tensorflow-2.4.1-cp38-cp38-linux_x86_64.whl
tensorflow-estimator @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-split_1632571320808/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.6.0-py2.py3-none-any.whl
termcolor==1.1.0
threadpoolctl==3.0.0
tifffile==2021.11.2
timm==0.4.12
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
torch==1.10.0
torchvision==0.11.1
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1635836386246/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1636046814972/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1641731510635/work
